body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  background: #d4d4d4;
}

header{
  border-bottom: 1px #050A30 solid;
  width: 60%;
  margin: 0 auto 15px;
}

.header-items{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.header-item{
  background-color: #000C66;
  color: #7EC8E3;
  padding: 1em;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.header-menu:hover{
  background-color: #7EC8E3;
  color: #050A30;
  cursor: pointer;
}

.trainer-container{
  margin: 0 auto;
  width : 1340px;
  height : 740px;
  cursor: crosshair;
  display: flex;
  flex-direction: column;
  background: #000C66;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.trainer{
  display: grid;
  min-width: 1300px;
  min-height: 700px;
  grid-template: repeat(7, 100px) / repeat(13, 100px);
  place-items: center;
  padding: 20px;
}

@keyframes flash{
  0%{opacity: 100%;}
  60%{opacity  : 100%}
  100%{opacity: 0%;}
}

.flash-filter{
  z-index: 3;
  position: absolute;
  width: 1340px;
  height: 740px;
  background-color: white;
  border-radius: 50px;
  animation: flash 2s;
}

.circle{
  background: #7EC8E3;
  border-radius: 100%;
  border: 3px solid #fff;
  z-index: 0;
}

@keyframes fadeIn {
  0% {opacity: 0%; background-color: white;}
  75% {opacity: 75%; background-color: white;}
  76% {opacity: 100%; background-color: red;}
  100%{opacity: 0%; background-color: transparent;}
}

.circle-flash{
  width: 90px;
  height: 90px;
  opacity: 0%;
  background: white;
  border: 3px solid white;
  animation: fadeIn 0.75s;
  z-index: 1;
}

.flex-container{
  display: flex;
}

.menu{
  width: 20%;
  margin: 0 auto;
  text-align: center;
  background-color: #000C66;
  color:#7EC8E3;
  border-radius: 30px;
}

.dark{
  background: #000C66;
  border : 3px solid #7EC8E3;
}

.cols{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  font-size: 40px;
  padding:0 25px;
  border-radius: 7px;
  line-height: 1;
  color: #000C66;
}

.btn:hover{
  color: white;
  cursor: pointer;
}

.btn-primary{
  background: red;
  margin-right: 50px;
}

.btn-secondary{
  background: green;
  margin-left: 50px;
}

.num-targets-title{
  margin-top: 100px;
}

.progress-outer{
  width : 65%;
  height: 15px;
  background : #7EC8E3;
  margin : 0 auto;
  margin-bottom: 15px;
  border-radius: 10px;
}

.progress-inner{
  border-radius: 10px;
  height: 15px;
  background: #000C66;
}

.progress-outer.player-2{
  background: #000C66;
}

.progress-inner.player-2{
  background : #7EC8E3;
}

.submit{
  font-size: 25px;
  width : 40%;
  margin: 0 auto;
  padding: 0.25em 0em;
}

.room-input{
  width: 50%;
  border-radius: 10px;
  height: 30px;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.ready-state{
  font-size: 70px;
  color: white;
}

.ready-state:hover{
  color: #d4d4d4;
  cursor: pointer;
}